@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root{
	--font:"Bree Serif", serif;
	--font2:"Fredoka", sans-serif;
	--fontsize:1rem;
}

html, body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	overflow-x: hidden;
	background: url('assets/cloud.jpg') no-repeat center center fixed;
	background-size:cover;
}

/* Default- Mobile size */
.landing{
	text-align: center;
	padding: 1rem;
	
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	position:relative;
	
}

h1{
	font-family: var(--font);
	font-size:2.8rem;
	color:white;
	line-height: 2.9rem;
	margin-top: -2rem;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

p{
	font-family:var(--font2);
	font-weight: 400;
	font-size:14px;
	line-height: 1.2;
	padding: 0.7rem;
	margin-bottom:1rem;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.373); 

	

}

.toast-fix{
	position:relative;
	width:100%;
	max-width:400px;
	margin: 1rem auto;
	z-index: 1;
	}
	
	.toast-fix a{
		z-index: 3;
		position:relative;
		display: block;
	}
	.toast-fix::after{
		content:"";
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-image: url('assets/tanningbread.png');
		background-size: 120%;
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0;
		transition: opacity 0.4s ease;
		z-index: 1;
	}
	.toast-fix:hover .landing-toast{
		opacity: 0;
	}
	
	.toast-fix:hover::after{
		opacity: 1;
	}
.landing-toast{
	width: 100%;
	max-width: 400px;
	margin:0.3rem 0 1rem;
}
.landing-toast:hover{
	content:url('assets/tanningbread.png');
	height:auto;
	width:auto;
	display:block;
	margin: 0 auto;
	object-fit: contain;
}

.enter{
	margin-top:1rem;
	background-color:#e9cc4c;
	color:#754e0a;
	padding: 1rem 0.8rem;
	font-size: 16px;
	border-radius: 25px;
	text-decoration: none;
	font-family: var(--font2);
	margin-bottom:0;
	font-weight: 500;
	transition: background-color 0.3s ease;
}
.enter:hover{
	background-color:#754e0a;
	color:white;
}


.footer{
	text-align: center;
	font-size:12px;
	color:black;
	padding:1.3rem 0;
	border-top:0.6px solid black;
	margin-top: 2rem;
	margin-bottom:1rem;
	padding-bottom: 0.5rem;
	width:100%;
	box-sizing: border-box;
	font-family: var(--font2);
}


/* Desktop size */
@media(min-width:1280px){
.landing{
	text-align: center;
	background: url('assets/cloud.jpg') no-repeat center center fixed;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

h1{
	font-family: var(--font);
	font-size:3rem;
	color:white;
	margin-bottom: 1rem;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

p{
	font-family:var(--font2);
	font-weight: 400;
	font-size:calc(var(--fontsize)*1.2);
	line-height: 1.5;
	margin-top:2rem;
	padding:1rem;
	background-color: rgba(255, 255, 255, 0.373); 
	
}
.toast-fix{
position:relative;
width:100%;
justify-content: center;
align-items: center;
display: flex;
max-width:400px;
margin: 1rem auto;
z-index: 1;
}

.toast-fix a{
	z-index: 3;
	position:relative;
	display: block;
}
.toast-fix::after{
	content:"";
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image: url('assets/tanningbread.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
	transition: opacity 0.4s ease;
	transform: scale(1.7);
	z-index: 1;
	display:block;
	margin: 0 auto;
}
.toast-fix:hover .landing-toast{
	opacity: 0;
}

.toast-fix:hover::after{
	opacity: 1;
}

.landing-toast{
	width: 45vw;
	display: block;
	max-width: 90vw;
	margin-bottom: -5rem;
	margin-top:-6rem;
	transition: opacity 0.4s ease;
	cursor: pointer;
	z-index:10;
}

.landing-toast:hover{
	content:url('assets/tanningbread.png');
	height:auto;
	width:auto;
	display:block;
	margin: 0 auto;
	object-fit: contain;
}

.enter{
	margin-top:1rem;
	background-color:#e9cc4c;
	color:#754e0a;
	padding: 1rem 1.2rem;
	font-size: 20px;
	border-radius: 25px;
	text-decoration: none;
	font-family: "Fredoka", sans-serif;
	font-weight: 500;
	transition: background-color 0.3s ease;
}
.enter:hover{
	background-color:#754e0a;
	color:white;
}


.footer{
	text-align: center;
	font-size: var(--fontsize);
	font-family: var(--font2);
	color:black;
	padding:1rem 0;
	border-top:0.7px solid black;
	margin-top: 3rem;
	margin-bottom: 1rem;
	width:100%;
	box-sizing: border-box;
}

}